.prompt {
	background-color: #cccccc;
	border-radius: 9px;
	width: 60%;
	left: 20%;
	right: 20%;
	height: 60%;
	top: 20%;
	bottom: 20%;
	position: absolute;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.prompt-backing {
	
}